<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestion de flota 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" (click)="gotoMyVehiculos()"> Gestionar Vehiculos </ion-button>
  <ion-button expand="block" (click)="gotoConductores()">Gestionar Conductores </ion-button>
 <!--  <ion-button expand="block" (click)="gotoVehiculoForm()">Asignación de Conductores </ion-button>
  <ion-button expand="block" (click)="gotoVehiculoForm()">Asignación de Rutas </ion-button>-->
</ion-content>