<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vehiculo-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulario de vehículo</ion-title>
    </ion-toolbar>
  </ion-header>


  <form [formGroup]="vehiculoForm" (ngSubmit)="guardar()">

    <ion-item>
      <ion-label position="floating">Matricula</ion-label>
      <ion-input formControlName="matricula" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('brand')?.hasError('required') && getFormControl('brand')?.touched">
      La matricula es obligatoria
    </ion-note>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input formControlName="marca" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input formControlName="modelo" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Año</ion-label>
      <ion-input formControlName="anio" type="text"></ion-input>
    </ion-item>


    <!-- Botón de Enviar -->
    <ion-button expand="full" type="submit" [disabled]="!vehiculoForm.valid">Guardar</ion-button>

  </form>


</ion-content>