<ion-header [translucent]="true">
  <ion-toolbar class="app-toolbar">
    <ion-title class="page-title">Conductores</ion-title>

    <ion-buttons slot="end">
      <ion-button class="icon-btn" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-bg">
  <div class="page-wrap">
    <ion-list class="glass-list">
      <ion-item class="driver-item" *ngFor="let c of Conductores" lines="none">
        <ion-avatar class="driver-avatar" slot="start">
          <img
            *ngIf="c.filename; else placeholder"
            src="http://localhost:8080/images/{{c.filename}}"
            alt="image"
          />
          <ng-template #placeholder>
            <div class="avatar-placeholder">
              <ion-icon name="person-outline"></ion-icon>
            </div>
          </ng-template>
        </ion-avatar>

        <ion-label class="driver-label">
          <h1 class="driver-name">{{c.name}}</h1>
          <p class="driver-sub">{{c.apellidos}}</p>
        </ion-label>

        <div class="actions">
          <ion-button class="action-btn" fill="outline" size="small" (click)="gotoUpdateConductores(c.id)">
            Actualizar
          </ion-button>
          <ion-button class="action-btn danger" fill="outline" size="small" (click)="gotoEraserConductores(c.id)">
            Eliminar
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab" (click)="addConductores()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
